.deck {
	width: 50%;
	margin: 20px auto;
	background: dodgerblue;
	border: solid 10px black;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	color: white;
}

.card {
	padding: 10px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	font-size: 14pt;
	text-align: center;
	color: black;
	margin: 3px;
}

.chat-section {
	height: 120px;
	width: 100%;
	border: 1px solid #ccc;
	overflow: auto;
}

.btn {
	padding: 10px 20px;
	border-radius: 30px;
	margin: 10px;
	display: inline-block;
}

.card .value {
	font-size: 15pt;
	font-family: sans-serif;
}

.card .suit {
	background-image: url('../src/images/card.png');
	height: 100px;
	width: 90px;
}

.card .diamonds {
	background-position-y: 100px;
}

.card .hearts {
	background-position-x: 90px;
}

.card .clubs {
	background-position-x: 90px;
	background-position-y: 100px;
}

.facedown-cards {
	background-image: url('../src/images/unnamed.png');
	background-repeat: no-repeat;
	height: 152px;
	width: 112px;

}

.navlink {

	display: inline-block;
	font-size: 20px;
	padding: 20px;

}

.navbar {
	display: flex;
	flex-direction: row;
}

.navbar-el {
	padding: 0px 10px 0px 10px;
}

.game-body {
	background-color: #34aa1a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(111,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2334aa1a'/%3E%3Cstop offset='1' stop-color='%232e7bff'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(27,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23ddff45' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ddff45' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(2,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23ddff45' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ddff45' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.88'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
	text-align: center;
	width: 100%;
	height: 100%;
}

.home-body {
    background-color: #34aa1a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(111,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2334aa1a'/%3E%3Cstop offset='1' stop-color='%232e7bff'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(27,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23ddff45' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ddff45' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(2,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23ddff45' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ddff45' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.88'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
	text-align: center;
	width: 100%;
	height: 100%;
}

.jumbotron {
	text-align: center;
	justify-content: center;
    background-color:rgba(245, 247, 248, 0.45);
	color: black;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.login-body {
	background-color: #34aa1a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(111,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2334aa1a'/%3E%3Cstop offset='1' stop-color='%232e7bff'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(27,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23ddff45' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ddff45' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(2,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23ddff45' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ddff45' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.88'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
	text-align: center;
	width: 100%;
	height: 100%;
}



.counter {
	text-align: center;
	justify-content: center;
	background-color:rgba(245, 247, 248, 0.45);
	
}

.counter-body {
	text-align: center;
	justify-content: center;
}

.plus {
	color: red;
}

.minus {
   color: blue;
}

.chat-box {
	background-color:rgba(245, 247, 248, 0.45);
	width: 100%;
	max-width: 100%;
}

.messages {
	height:120px;
	width:100%;
	border:1px solid #ccc;
	font:16px/26px;
	overflow:auto;
	text-align: left;
}

#body-container {
	max-width: 100% !important;
	height:1500px ;
}
